
       <footer>
        <mat-card class="footer" fxLayout="row" fxLayout-lt-sm="column" fxLayoutAlign="space-around">
        <p style="color: whitesmoke">
          Explore Top Music 
          Powered by your Scrobbles
        </p>
        <p  style="color: whitesmoke">
          Contact us
          Community Support
        </p>
       
          <!-- Copyright -->
          <div style="color: whitesmoke" class="footer-copyright text-center py-3">© 2018 Copyright:
            <a style="color: rgb(37, 36, 36)" href="#"> Muzix.com</a>
          </div>
        </mat-card>
       </footer> 